#app-container{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}
button{
  margin:3px
}
#sidebar-container{
  flex:1;
  padding:1em;
  border:1px solid;
  border-radius:0px 15px 15px 0px;
  padding:5px
}
#step-container{
  display:flex;
  align-items:center;
  justify-content: center;
  margin:15px;
  padding:15px;
  width:fit-content
}
body{
  height:100vh
}

form{
  display:flex;
  flex:1;
  padding:1em;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  border:1px solid black;
  border-radius: 15px 0px 0px 15px;
  
}

#input-div{
  margin:10px
}

input{
  border:none;
    border-bottom: 1px solid #1890ff;
    padding: 5px 10px;
    outline: none;
}

.form-wrapper{
  display:flex;
  height:100%;
  flex-direction: row;
}

#terms{
  border:1px solid;
  margin:3px;
  padding:5px 
}